@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--maincolor: #9e72ce;
	--maincolor2: #00adba;
	--light: rgb(244, 247, 247);
	--light2: rgb(249, 245, 251);
}
body {
	 font-family: "Figtree", sans-serif;
	 background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Antonio", sans-serif;
}
/**********HEADER**********/
header {
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 2000;
}
.fix-container {
	background-color: black;
	position: relative;
}
.menu {
	display: flex;
	justify-content: space-between;
}
.st {
	z-index: 50;
	padding: 10px 70px 10px 15px;
	background: linear-gradient(to right, black 70%, transparent 100%);
}
.st>img {
		height: 40px;
}
.about {
	z-index: 50;
	display: flex;
	align-items: center;
	padding: 10px 15px 10px 70px;
	text-decoration: none;
	font-weight: 700;
	color: white;
	text-align: right;
	background: linear-gradient(to left, black 70%, transparent 100%);
}
.st img:hover {
	opacity: 60%;
}
.about:hover {
	color: #fffa;
}
/************ANIMACION banner************/
.banner {
	position: absolute;
	top: 8px;
	color: var(--maincolor);
	text-transform: uppercase;
	display: flex;
  	overflow: hidden;
}
.main2 {
  color: var(--maincolor2);
}
.mover-texto {
  display: inline-block;
  white-space: nowrap;
  font-size: 2rem;
  animation: mover 13s linear infinite;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/**********Movimiento raton**********/
#iconFondo {
	position: relative;
}
#icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    transition: transform 0.2s ease-out;
}
#icon2 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    transition: transform 0.8s ease-out;
}
#icon3 {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid var(--maincolor2);
    border-radius: 50%;
    transition: transform 1.5s ease-out;
}
#icon4 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    transition: transform 3.5s ease-out;
}
#icon5 {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid var(--maincolor2);
	opacity: .5;
    border-radius: 50%;
    transition: transform 2s ease-out;
}
#icon6 {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 2px solid var(--maincolor);
	opacity: .3;
    border-radius: 50%;
    transition: transform 2.5s ease-out;
}
/**********MAIN**********/

.max {
	padding: 150px 20px;
	max-width: 1000px;
	margin: auto;	
	text-align: center;
}

/**********SECTION HEADER**********/
/********FONDO GRADIENT********/

.titulo {
	text-align: center;
	color: white;
	padding: 80px 0;
	margin-bottom: 50px;
	margin: auto;
}
.titulo > h3 {
	font-size: 4rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.titulo > p, .titulo > h2 {
	font-family: "Figtree", sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 35px;
}
.draw {
	border: 2px solid white;
	padding: 15px 30px;
	border-radius: 30px;
	color: white;
	font-family: "Figtree", sans-serif;
}


@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/* animation color-change-4x */
.color-change-4x {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
	        animation: color-change-4x 6s linear infinite alternate both;
}

@keyframes color-change-4x {
  0% {
    background: #033336;
  }
  33.3333% {
    background: #301944;
  }
  66.666% {
    background: #471745;
  }
  100% {
    background: #2d1c53;
  }
}

/* dibujo raton */
body {
	margin: 0;
	/* overflow: hidden; */
}
 canvas {
	position: absolute;
	top: 0;
	left: 0;
}

/**************FOOTER***************/
footer {
	background-color: black;
	text-align: center;
	color: var(--maincolor2);
}
.marg {
	padding: 40px 20px;
}
.max a {
	text-decoration: none;
	color: var(--maincolor2);
	font-size: .7rem;
}
.max a i {
	font-size: 2rem;
	padding: 0 5px;
	color: white;
}
.max a:hover, footer i:hover {
	opacity: 60%;
}
small {
	display: block;
}
.marg > * {
	padding-bottom: 20px;
}
.max h4 {
	font-size: 2rem;
	color: white;
}
/********** RESPONSIVE 600 *********/
@media(min-width: 900px) {

/* animation focus-in-expand */

 .focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}
